body{
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: gray;
}

.calculatorContainer{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calculatorContainer > button{
    font-size: 2rem;
    border: 1px, solid, white;
    cursor: pointer;
    outline: none;
    background-color:  whitesmoke;
}

.calculatorContainer > button:hover{
    background-color: white;
}

.span-two{
    grid-column: span 2;
}

.screen{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,.85);
    font-size: large;
    color: whitesmoke;
    display: flex;
    align-items:flex-end;
    justify-content: end;
    word-wrap: break-word;
    word-break: break-all;
}